body{
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  min-width: 1200px;
  background-color: #eeeeee;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*HEADER*/

.sedona-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.main-navigation{
  min-height: 56px;
  padding: 0 6%;
}

.main-navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.main-navigation li {
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-navigation li:nth-child(1) {
  width: 240px;
}

.main-navigation li:nth-child(2) {
  width: 490px;
}

.main-navigation li:nth-child(3) {
  width: 245px;
}

.main-navigation a{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.main-navigation a:hover{
  color: #81b3d2;
}

.main-navigation a:active,
.main-navigation .link-active {
  color: #766357;
}

.main-navigation .link-active:hover{
  color: #604e43;
}

.main-navigation .link-active:active{
  color: #d6d0cc;
}

/*MAIN*/

.title-img{
  padding-top: 77px;
  padding-bottom: 70px;
  text-align: center;
  background: url("../img/index-mask-image.png") 0 100% no-repeat, url("../img/index-image.jpg") 0 22% no-repeat #daeaf3;
}

.description {
  padding-top: 62px;
  padding-bottom: 35px;
  line-height: 26px;
  text-align: center;
}

.description b {
  display: block;
  font-size: 21px;
  margin-left: 294px;
  margin-right: 294px;
  margin-bottom: 27px;
}

    /* resons with image */

.reasons-title {
  font-size: 21px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 23px;
  margin-left: 128px;
  margin-right: 128px;
  width: 152px;
}

.reasons-item {
  width: 400px;
  text-align: center;
  background-color: #81b3d2;
  max-height: 256px;
  color: #ffffff;
}

.reasons-item p {
  display: block;
  margin-top: 28px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 41px;
}

.reasons-with-image {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  max-height: 256px;
}

.reasons-item .reasons-title {
  margin-top: 54px;
  margin-bottom: 22px;
}

.reasons-title .reasons-num{
  display: inline-block;
  vertical-align: top;
}

    /* reasons without image */

.reasons-text {
  display: flex;
}

.reasons-description {
  font-size: 0;
  background-color: #eeeeee;
}

.reasons {
  background-color: #eeeeee;
  font-size: 14px;
  color: #000000;
  display: inline-block;
  width: 400px;
  vertical-align: top;
  text-align: center;
}

.reasons .reasons-num {
  display: inline;
  position: relative;
  margin: 0;
  background-color: #eeeeee;
}

.reasons p {
  margin: 0;
  margin-top: 23px;
  margin-left: 58px;
  margin-right: 58px;
  margin-bottom: 54px;
}

    /* resons withou num */

.without-num {
  background-color: #ffffff;
  position: relative;
}

.without-num .reasons-title {
  margin-top: 160px;
  margin-bottom: 24px;
}

.without-num:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 162px;
  top: 56px;
  background: url("../img/sprite.png") no-repeat;
  width: 75px;
  height: 72px;
  background-position: -409px -10px;
}

.without-num:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 162px;
  top: 56px;
  background: url("../img/sprite.png") no-repeat;
  width: 74px;
  height: 70px;
  background-position: -749px -10px;
}

.without-num:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 162px;
  top: 56px;
  background: url("../img/sprite.png") no-repeat;
  width: 64px;
  height: 76px;
  background-position: -843px -10px;
}

.without-num p {
  padding: 0;
  margin: 0;
  margin-left: 47px;
  margin-right: 47px;
  margin-bottom: 83px;
}

/* SEARCH */

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search b, .search p, .search a {
  margin: 0 auto;
}
.search b {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 58px;
  padding-bottom: 30px;
  text-align: center;
}

.search p {
  line-height: 24px;
  text-align: center;
  margin-bottom: 51px;
}

.btn {
  display: inline-block;
  padding: 8px 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #669ec0;
}

.btn:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.open-search {
  display: inline-block;
  vertical-align: top;
  margin-top: 45px;
  padding: 30px 139px;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  z-index: 5;
}

.open-search:hover {
  background-color: #604e43;
}

.open-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  line-height: 0;
  width: 1200px;
  height: 595px;
  background: #d9c9bf url("../img/map.jpg") no-repeat;
  position: relative;
}

/* SEARCH FORM */

.search-form {
  padding: 0;
  width: 458px;
  position: absolute;
  left: 50%;
  background-color: #ffffff;
  padding: 55px;
  margin-left: -284px;
  box-shadow: 0 1px 15px 2px #dfdfdf;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  z-index: 1;
  /*display: none;*/
}

.date {
  position: relative;
  font-size: 14px;
}

.qty {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0;
}

label {
  margin-right: 18px;
  font-size: 14px;
}

label[for="adults-qty"] {
  margin-right: 38px;
}

label[for="kids-qty"] {
  margin-right: 26px;
  margin-left: 50px;
}

.search-form input {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 29px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  padding: 6px 13px;
  min-height: 26px;
}

.date .input-date {
  width: 319px;
}

.date .input-date[name="departure-date"] {
  margin-left: -3px;
}

.qty .input-qty {
  width: 20px;
  padding-left: 47px;
  padding-right: 47px;
}

.icon-calendar {
  position: relative;
  cursor: pointer;
}

.icon-calendar::before {
  content: "";
  position: absolute;
  left: 425px;
  top: -60px;
  background-image: url("../img/sprite.png") ;
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -504px -10px;
}

.icon-calendar:hover::before{
  width: 22px;
  height: 22px;
  background-position: -586px -10px;
}

.icon-calendar:active::before {
  width: 21px;
  height: 22px;
  background-position: -545px -10px;
}

.icon-minus {
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  background-position: -915px 8px;
  cursor: pointer;
  left: 110px;
  top: 0;
  background-color: #f2f2f2;
}

.icon-minus-k {
  left: 114px;
}

.icon-minus:hover {
  background-position: -979px 8px;
}

.icon-minus:active {
  background-position: -947px 8px;
}

.icon-plus {
  position: absolute;
  left: 186px;
  top: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  background-position: -1010px 4px;
  cursor: pointer;
  background-color: #f2f2f2;
}

.icon-plus-k {
  left: 191px;
}

.icon-plus:hover {
  background-position: -1072px 4px;
}

.icon-plus:active {
  background-position: -1041px 4px;
}

.btn-search {
  margin-top: 25px;
  padding: 17px 196px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.btn-search:down {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


/* FOOTER */

.main-footer {
  z-index: 100;
  position: absolute;
  width: 1200px;
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.transp-footer {
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-tag {
  width: 180px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-copyright span {
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 26px;
}

.academy {
  font-size: 0;
}

.academy::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position:relative;
  top: -5px;
  left: 5px;
  background: url("../img/sprite.png") no-repeat;
  width: 113px;
  height: 39px;
  background-position: -10px -10px;
}

.academy:hover.academy::before {
  width: 113px;
  height: 39px;
  background-position: -276px -10px;
}

.academy:active.academy::before {
  width: 113px;
  height: 39px;
  background-position: -143px -10px;
}

.social-btn {
  display: inline-block;
  font-size: 0;
  width: 46px;
  height: 48px;
  margin: 0;
  vertical-align: top;
  background-color: #81b3d2;
  position: relative;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active.social-btn::before {
  opacity: 0.3;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/sprite.png") no-repeat;
}

.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -1116px -10px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -719px -10px;
}

.social-btn-yt::before {
  width: 20px;
  height: 16px;
  background-position: -1153px -10px;
}

/*-------------------HOTELS.HTML----------------------------*/



/* FILTER */


/* SPRITE */

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-academy {
    width: 113px;
    height: 39px;
    background-position: -10px -10px;
}

.sprite-academy-down {
    width: 113px;
    height: 39px;
    background-position: -143px -10px;
}

.sprite-academy-hvr {
    width: 113px;
    height: 39px;
    background-position: -276px -10px;
}

.sprite-icon-accomodation {
    width: 75px;
    height: 72px;
    background-position: -409px -10px;
}

.sprite-icon-calendar {
    width: 21px;
    height: 22px;
    background-position: -504px -10px;
}

.sprite-icon-calendar-down {
    width: 21px;
    height: 22px;
    background-position: -545px -10px;
}

.sprite-icon-calendar-hvr {
    width: 21px;
    height: 22px;
    background-position: -586px -10px;
}

.sprite-icon-chbx {
    width: 26px;
    height: 22px;
    background-position: -627px -10px;
}

.sprite-icon-chbx-disabled {
    width: 26px;
    height: 22px;
    background-position: -673px -10px;
}

.sprite-icon-fb {
    width: 10px;
    height: 19px;
    background-position: -719px -10px;
}

.sprite-icon-food {
    width: 74px;
    height: 70px;
    background-position: -749px -10px;
}

.sprite-icon-gifts {
    width: 64px;
    height: 76px;
    background-position: -843px -10px;
}

.sprite-icon-minus {
    width: 12px;
    height: 3px;
    background-position: -927px -10px;
}

.sprite-icon-minus-down {
    width: 12px;
    height: 3px;
    background-position: -959px -10px;
}

.sprite-icon-minus-hvr {
    width: 12px;
    height: 3px;
    background-position: -991px -10px;
}

.sprite-icon-plus {
    width: 11px;
    height: 11px;
    background-position: -1023px -10px;
}

.sprite-icon-plus-down {
    width: 11px;
    height: 11px;
    background-position: -1054px -10px;
}

.sprite-icon-plus-hvr {
    width: 11px;
    height: 11px;
    background-position: -1085px -10px;
}

.sprite-icon-tw {
    width: 17px;
    height: 15px;
    background-position: -1116px -10px;
}

.sprite-icon-yt {
    width: 20px;
    height: 16px;
    background-position: -1153px -10px;
}
